---
import defaultIconsUrl from "../../../assets/icons.svg?url";
import "./Logo.css";

interface Props {
  variant?: string;
  color?: string;
  height?: string;
  iconsUrl?: string;
  iconName?: string;
}

const { variant = "default", color = "default", height="s4", iconsUrl = defaultIconsUrl, iconName = "logo-koan" } = Astro.props;
const classes = `logo logo--${variant} logo--color-${color}`;

---

<div class={classes} style={`--height: var(--${height});`}>
  <div class="logo__logo">
    <svg viewBox="0 0 100 50" class="icon">
      <use xlink:href={`${iconsUrl}#${iconName}`}></use>
    </svg>
  </div>
</div>
